@model IEnumerable<repository.evnt>

@{
    Layout = "~/Views/Shared/ThrLayout.cshtml";
}




    <div>
       UpComing Events
        <br>
        @Html.ActionLink("Add New Event","AddNewEvnt")
        <table>
            <tr align="center"><td>Event Name</td><td>Start Time</td><td>End Time</td></tr>
        @foreach (var item in Model) {
        
              <tr align="center">
           <td > <a id="links2" href="~/Teacher/ViewEvnt?evnt_id=@item.evnt_id&evnt_name=@item.evnt_name">@item.evnt_name</a> </td>
                  <td> @item.evnt_sdt </td> <td> @item.evnt_edt </td> 
                  </tr>
           
        }
            </table>
           

    </div>
